.product-details_wrapper
	background-color: #fff
	margin-bottom: 6rem
	.product-block_wrap	
		margin-bottom: 0

.product-details_content-wrapper
	margin-bottom: 3.5rem

.product-details_content
	padding-top: 2.5rem

.product-content_heading
	display: block
	font-size: 2.2rem
	color: #f99d1c
	margin-bottom: 0.8rem

.product-content_subheading
	display: block
	font-size: 1.83rem
	color: #725849
	margin-bottom: 0rem
	
.product-content_title-info
	display: block
	font-size: 1.5rem
	color: #7a7a7a
	margin-bottom: 1.8rem

.product-content_description
	display: block
	font-size: 1.5rem
	color: #725849

.product-description
	padding-top: 0.9rem

.product-content_subheading
	display: block
	font-size: 1.5rem
	color: #725849
	padding-bottom: 2.5rem

.product-details_wrapper
	.product-block
		min-height: 3.4rem
	.product-block_img
		width: 32rem
		height: 32rem

.product-description_counter
	padding-bottom: 3.2rem

.product-description_footer
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	padding-top: 1.6rem
	border-top: 0.1rem solid #ededed
	@include md
		justify-content: space-around

.product-description_social
	display: flex
	align-items: center
	span
		display: inline-block
		font-size: 1.4rem
		line-height: 1
		color: #7c7c7c
		margin-right: 0.7rem
	@include md
		margin-bottom: 1.5rem

.social-row
	&.description_social
		display: flex
		border: none
		padding: 0
		.icon
			&:before
				font-size: 2.1rem
		a
			margin-right: 0.3rem

.product-description_rating
	display: flex
	align-items: center
	p
		display: inline-block
		color: #7c7c7c
		font-size: 1.4rem
		line-height: 1
		margin-right: 0.9rem

.product-description_rate
	&.rate-row
		opacity: 1
		line-height: 1
	.icon
		&:before
			font-size: 1.7rem
	.rate-star
		margin-right: 0.3rem

.nav-tabs
	border-color: #b4d2d0

.nav-tabs>li>a
	color: #fff
	background-color: #b4d2d0
	border: 0.1rem solid #b4d2d0
	font-size: 1.8rem
	font-weight: bold
	margin-right: 0.3rem
	border-radius: 0
	padding: 0.8rem 1.5rem
	min-width: 18.5rem
	text-align: center
	&.last-tab
		background-color: #d1e5e4
		color: #91acaa
		border: 0.1rem solid #d1e5e4
		border-bottom-color: #b4d2d0

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover
	background-color: #fff
	color: #b4d2d0
	border: 0.1rem solid #b4d2d0
	border-bottom-color: transparent


.nav-tabs>li>a:hover
	background-color: #9abcba
	border-color: #b4d2d0 #b4d2d0 #b4d2d0
	color: #fff

.tab-content
	border: 0.1rem solid #b4d2d0
	border-top: none
	min-height: 45rem
	padding: 3.5rem 2.9rem

.tab-content_wrap
	margin-bottom: 4.7rem
	strong,
	p
		display: block
		font-size: 1.5rem
		color: #6e6e6e
	p
		margin-bottom: 2.5rem
	strong
		margin-bottom: 1.4rem
		
.nav-tabs>li
	@include md
		margin: 0
		width: 100%
		margin-bottom: 0.3rem
		a
			margin: 0

.sidebar-container
	&.hide-mobile
		@include lg
			display: none

.product-details_wrapper
	@include lg
		padding: 0
	.pages-nav,
	.category-content_heading,
	.product-content_subheading
		@include lg
			display: none

.tabs-wrap
	@include lg
		padding: 0

.tab-content_wrap
	@include lg
		padding: 1.3rem
		min-height: 12rem

.more-products_title
	display: block
	font-size: 1.7rem
	font-weight: bold
	text-transform: uppercase
	padding-top: 2.5rem
	margin-bottom: 2.7rem
	color: #675751


