/*Fonts*/
$default-font: Arial, Helvetica, sans-serif
$icon-font: 'icons'

$text-color: #616161
$scandal: #b5d2d0

/*Font weight*/
$light: 300
$regular: 400
$medium: 500
$bold: 700

/*transition*/
$slow-transition: all .3s ease 0.15s
$transition: all .15s ease 0.05s

/*border radius*/
$radius: 0.5rem